$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.bg-primary {
  background-image: url('../img/med-brown.jpg');
  background-size: cover;
}
